
.logo{
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/imgs/loginbackground.png');
    background-size: cover;
    background-position: center;
}

.form-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #444;
    color: white;
    border-radius: 4px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    background-color: #ff7300;
    border: none;
    flex: 1;
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

.create-account {
    text-align: center;
    margin-top: 10px;
}

.create-account a {
    color: #ff7300;
}