*{
    margin: 0 auto;
    text-align: center;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/static/imgs/newbackground.png');
}
.container {
    background-color: burlywood;
    border-radius: 50px;
    width: 400px;
    height: 200px;
    margin-top: 100px;
}
p, h1{
    color: #444;
}
a{
    color: #ff7300;
    text-decoration: none;
}