.navbar{
    background-color: gray;
}

.logo{
    width: 20%;
}
body, html {
    color: black;
    height: 100%;
    background-color: #444;
    background-image: url('/static/imgs/loginbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    width: 100%;
}
.bg-light{
    width: 100%;
}
.nav-top{
    display: flex;
    justify-content: space-between;
}
.axsos{
    width: 10px;
    height: 10px;
}
.btn-outline-danger{
    margin-top: 40px;
}
.mid{
    display: flex;
    justify-content: center;
}
.colorl{
    color: #444;
    height: 2px;
}
.stones{
    width: 100px;
}

#chat-input{
    text-align: center;
}