<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="../static/css/welcom.css">
</head>

<body>
    
    <div class="container">
        <a href="/">

            <img src="../static/imgs/logo.png" alt="logo">
        </a>
        <div class="btns-container">
                    <button class="login-btn"><a href="/login_page">Login</a></button>
        <button class="login-btn"><a href="/register_page">Register</a></button>
        </div>
        
    </div>

</body>
</html>
