<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="right_div">
        <h1>Login</h1>
        <form action="/login" method="post">
            {% csrf_token %}
            <p>Email</p>
            <input type="email" name="person_email">
            <p>Password</p>
            <input type="password" name="password_email">

            <button type="submit">Log in</button>
        </form>
    </div>
</body>
</html>