<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login and Registration Form Example</title>
  {% load static %}
    <link rel="stylesheet" href="{% static '/css/new.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="  background-image: url('/static/imgs/food.png'); " id="body">
	<div class="cotn_principal">
		<div class="cont_centrar">
		
		<div class="cont_login">
		<div class="cont_info_log_sign_up">
			<div class="col_md_login">
		<div class="cont_ba_opcitiy">
				
				<h2>LOGIN</h2>  
		<p>Have an account?</p> 
		<button class="btn_login" onclick="change_to_login()">LOGIN</button>
		</div>
		</div>
		<div class="col_md_sign_up">
		<div class="cont_ba_opcitiy">
		<h2>SIGN UP</h2>
		
		  
		  <p>Join with us</p>
		
		  <button class="btn_sign_up" onclick="change_to_sign_up()">SIGN UP</button>
		</div>
		  </div>
			   </div>
		
			
			<div class="cont_back_info">
			   <div class="cont_img_back_grey">
			   <img src='{% static "imgs/page1.jpeg" %}' alt="" />
			   </div>
			   
			</div>
		<div class="cont_forms" >
			<div class="cont_img_back_">
				<img src='{% static "imgs/page1.jpeg" %}' alt="" />			   </div>
		 <div class="cont_form_login">
		<a href="#" onclick="hidden_login_and_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
		   <h2><img src='{% static "imgs/login-48.ico" %}'  alt=""></h2>
           <h1>Already have an account?</h1>
           <a href=/login_page""><button class="btn btn-primary">Sign in</button></a>
        
        </div>
        
		  
		   <div class="cont_form_sign_up">
            <form class="form-signup" action="/register" method="post">
                <div class="create">
                    <h3 class="create">Create Account</h2>
                </div>
                {% csrf_token %}
                <div class="fname">
                    <p class="name">First-Name<input name="fname" type="text" id="fname" class="lfname"></p>
                </div>
                <div class="lname">
                    <p>Last-Name <input name="lname" type="text" id="lname" class="llname"></p>
                </div>
                <div class="email">
                    <p>Email <input name="email" type="email" id="email" class="lemail"></p>
                </div>
                <div class="pass">
                    <p>Password <input name="password" type="password" id="pass" class="lpass"></p>
                </div>
                <div class="conf-pass">
                    <p>Conf-Password <input name="confirm_password" type="password" id="confpass" class="lcpass"></p>
                </div>
                <div class="comp">
                    <p class="ur-company">Your-Company
                        <select name="company" id="" class="compa">
                            {%for company in company_name%}
                            <option value="{{company.id}}"> {{company.name}} </option>
                            {%endfor%}
                        </select>
                    </p>
                </div>
                
                <button type="submit" class="btn_sign_up" >SIGN UP</button>
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li style="color: aliceblue;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
		
		  </div>
		z
			</div>
			
		  </div>z
		 </div>
		</div>
		{% load static %}
       <script>
        /* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/

const time_to_show_login = 400;
const time_to_hidden_login = 200;

function change_to_login() {
document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";  
document.querySelector('.cont_form_login').style.display = "block";
document.querySelector('.cont_form_sign_up').style.opacity = "0";               

setTimeout(function(){  document.querySelector('.cont_form_login').style.opacity = "1"; },time_to_show_login);  
  
setTimeout(function(){    
document.querySelector('.cont_form_sign_up').style.display = "none";
},time_to_hidden_login);  
  }

  const time_to_show_sign_up = 100;
  const time_to_hidden_sign_up = 400;

function change_to_sign_up(at) {
  document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
  document.querySelector('.cont_form_sign_up').style.display = "block";
document.querySelector('.cont_form_login').style.opacity = "0";
  
setTimeout(function(){  document.querySelector('.cont_form_sign_up').style.opacity = "1";
},time_to_show_sign_up);  

setTimeout(function(){   document.querySelector('.cont_form_login').style.display = "none";
},time_to_hidden_sign_up);  


}    

const time_to_hidden_all = 500;

function hidden_login_and_sign_up() {

document.querySelector('.cont_forms').className = "cont_forms";  
document.querySelector('.cont_form_sign_up').style.opacity = "0";               
document.querySelector('.cont_form_login').style.opacity = "0"; 

setTimeout(function(){
document.querySelector('.cont_form_sign_up').style.display = "none";
document.querySelector('.cont_form_login').style.display = "none";
},time_to_hidden_all);  
  
  }
 
       </script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
