<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>


    <h1>Registration</h1>
    <form action="/register" method="post">
        {% csrf_token %}
        <p>First Name</p>
        <input type="text" name="fname">
        <p>Last Name</p>
        <input type="text" name="lname">
        <p>Email</p>
        <input type="email" name="email">
        <h4>Company <select name="company">
            {%for company in company_name%}
            <option value="{{company.id}}"> {{company.name}} </option>
            {%endfor%}
        </select></h4>
        <p>Password</p>
        <input type="password" >
        <p>Confirm Password</p>
        <input type="password" name="confirm_password">
        <button type="submit">Register</button>
    </form>
    

</div>
</body>
</html>