<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Rest</title>
</head>
<body>
    <form action="/addarest" method="post">
        {% csrf_token %}
        <h3>Restaurant name: <input type="text" name="rest_name"></h3>
        <h3>Restaurant Location: <input type="text" name="rest_location"></h3>
        <h3>Restaurant Telephone: <input type="text" name="rest_telephone"></h3>
        <h3>Restaurant Logo: <input type="text" name="logo_rest"></h3>
        <button type="submit">Add a Restaurant</button>
    </form>
</body>
</html>