<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/contact.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <title>Contact Us</title>
</head>
<body >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="content">
        <nav class="navbar navbar-light bg-light" style="border-radius: 2px; background-color: #e6e2d7!important;">
            <a class="navbar-brand" href="#" style="align-items: end; display: flex;">
                <img src='{% static "imgs/logo.png" %}' width="130" height="90" class="d-inline-block align-top" alt="">
                <p style="font-size: 32px; font-family: American Typewriter;">Orderak</p>
            </a>
            <div class="right">
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-outline-secondary"
                        style="margin: auto; color:black; font-family: American Typewriter; border-color: #e28a48">Logout</button>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="container">
                <hr class="border border-danger border-2 opacity-50" style="border-color:#e58948!important;">
                <h1 class="con-us" style="text-align: -webkit-center; font-family: Bangla MN;">Contact Us</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2"
                                style="font-family: American Typewriter; height:308px; width: 82%; border-color: color(srgb 0.8894 0.5424 0.283); border-style: double;">
                                <div class="thumb-lg member-thumb mx-auto"><img
                                        src='{% static "imgs/Mahmoud Attieh.jpeg" %}'
                                        class="rounded-circle img-thumbnail" alt="profile-image"></div> <br>
                                <div class="">
                                    <h4>Mahmoud Attieh</h4>
                                    <p class="text-muted">Software Engineer
                                        <br><a href="#" class="text-pink"> Istanbul Technical University</a>
                                    </p>
                                </div><br>
                                <ul class="social-links list-inline">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips"
                                            href="https://api.whatsapp.com/send/?phone=%2B972568296015&text&type=phone_number&app_absent=0"
                                            data-original-title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="https://github.com/Mahmoud-Attieh"
                                            data-original-title="Github"><i class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips"
                                            href="https://www.linkedin.com/in/mahmoud-attieh-035aa6192/"
                                            data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="m.attieh1@outlook.com" data-original-title="Email"><i
                                                class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2"
                                style="font-family: American Typewriter; width: 82%; border-color: color(srgb 0.8894 0.5424 0.283); border-style: double;">
                                <div class="thumb-lg member-thumb mx-auto"><img src='{% static "imgs/Enzo.jpg" %}'
                                        class="rounded-circle img-thumbnail" alt="profile-image"></div> <br>
                                <div class="">
                                    <h4>Mohamad Enzo Dayem</h4>
                                    <p class="text-muted">Project Management
                                        <a href="#" class="text-pink"> University of Lyon</a>
                                    </p>
                                </div>
                                <ul class="social-links list-inline">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="https://api.whatsapp.com/send/?phone=%2B33784327452&text&type=phone_number&app_absent=0" data-original-title="Whatsapp"><i
                                                class="fa fa-whatsapp"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="https://github.com/MohamadDayem" data-original-title="Github"><i
                                                class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="" data-original-title="Linkedin"><i
                                                class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="mohamad_dayem@yahoo.com" data-original-title="Email"><i
                                                class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2"
                                style="font-family: American Typewriter;height:308px; width: 82%; border-color: color(srgb 0.8894 0.5424 0.283); border-style: double;">
                                <div class="thumb-lg member-thumb mx-auto"><img src='{% static "imgs/Yazan.jpg" %}'
                                        class="rounded-circle img-thumbnail" alt="profile-image"></div> <br>
                                <div class="">
                                    <h4>Yazan Kayed</h4>
                                    <p class="text-muted">Mechanical Engineer <br>
                                        <a href="#" class="text-pink">Birzeit University</a>
                                    </p>
                                </div>
                                <br>
                                <ul class="social-links list-inline">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="https://api.whatsapp.com/send/?phone=%2B972599046414&text&type=phone_number&app_absent=0" data-original-title="Whatsapp"><i
                                                class="fa fa-whatsapp"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="https://github.com/yazankayed" data-original-title="Github"><i
                                                class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="https://www.linkedin.com/in/yazan-kayed-05215925b/" data-original-title="Linkedin"><i
                                                class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                            class="tooltips" href="y.arefkayed@gmail.com" data-original-title="Email"><i
                                                class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer style="background-color:#e28a48;text-align: -webkit-center;">
            <div class="container">
                <div class="row" style="font-family: American Typewriter; ">
                <div class="col-lg-3 col-md-6 mb-4">
                    <a class="text-light" href="#" style="color:black;">About Us</a>
                    <div class="card" style="border:1px; border-color: color(srgb 0.2185 0.2547 0.2757); border-style: dotted; margin-top: 20px; width: 17rem; height: 180px; background-color: rgb(230, 226, 215);">
                        <img src='{% static "imgs/logo.png" %}' class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <a class="text-light" href="#" style="color:black;">Contact Us</a>
                    <div class="con"  style="border-radius:3px; border:1px;border-color: color(srgb 0.2185 0.2547 0.2757); border-style: dotted; margin-top: 20px; width: 17rem; height: 180px; background-color: rgb(230, 226, 215);">
                        <p style="margin-top: 16px;"> Ramallah, Palestine</p>
                        <p>AXSOS AG</p>
                        <p> +970 (2) 298 8350</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <a class="text-light" href="#" style="color:black;">Our Location</a>
                    <div id="map"></div>
                </div>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a class="text-light" href="#" style="font-family: American Typewriter; color:black;" >Orderak.com</a>
            </div>
        </footer>
    </div>
    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyCgjBfL8PNO8D3tPhi1N8o602Tq4lvpPWQ", v: "beta"});</script>
    <script>// Initialize and add the map
        let map;
        
        async function initMap() {
          // The location of Uluru
          const position = { lat: 31.926182, lng: 35.205615 };
          // Request needed libraries.
          //@ts-ignore
          const { Map } = await google.maps.importLibrary("maps");
          const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
        
          // The map, centered at Uluru
          map = new Map(document.getElementById("map"), {
            zoom: 200,
            center: position,
            mapId: "DEMO_MAP_ID",
          });
        
          // The marker, positioned at Uluru
          const marker = new AdvancedMarkerElement({
            map: map,
            position: position,
            title: "Uluru",
          });
        }
        
        initMap();</script>
</body>
</html>