<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resturant Details</title>
</head>
<body>
    <h1>Resturant:{{rest.name}}</h1>
    <a href="/">
        <img src="{{rest.rest_logo}}" alt="placeholder">

    </a>
    <table>
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
        
        
        {% for i in rest.menu.item.all %}
        <tr>
            <td> {{i.name}} </td>
            <td> {{i.category}} </td>
            
         <td>{{i.price}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>